

#left_column {
    width: 25%;
    float:left;
}

#map {
    width:75%;
    float: right;
}

.area{ 
    fill: #C0C0C0;
    stroke: none;
}

.boundary {
    fill: none;
    stroke: #777;
}

.selected {
    fill: #fff;
    stroke: #777;
    stroke-dasharray: 2,2;
    stroke-linejoin: round;
}